.container_arrow {
   display: flex;
   flex-direction: column;
   max-height: 1em;
   justify-content: center;
   align-items: center;
   margin-top: 3px;
}

.arrow {
   border: solid #98949E;
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: 2px;
}
.arrow:hover{
   cursor: pointer;
}

.up {
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
}

.down {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
}