.banner{
   background-color: transparent;
   background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
   position: relative;
   border-radius: 1em;
   color: #EBFFFE;
   padding: 1em;
   overflow: hidden;
   height: 10em;
   margin:0 1em 1em 1em;
}
.banner>p{
   max-width: 30em;
}
.action_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1em;
   padding-top: 0.5em;
   z-index: 5;
}

.bg>img {
   position: absolute;
   width: 35em;
   height: 15em;
   top: -1em;
   z-index: -5;
   left: 60%;
   object-fit: cover;
}
.rectangle{
   width: 57%;
   height: 100%;
   /* background:#5D5FEF; */
   z-index: -4;
   border-top: 210px solid #5D5FEF;
   border-right: 130px solid transparent;
}
.shapes {
   z-index: -4;
}
/* .shapes::before {
   content: ' ';
   width: 2em;
   height: 2em;
   background: #000;
} */
.bg{
   display: flex;
   height: 12em;
   width: 100%;
   position: absolute;
   z-index: -2;
   top: 0;
   left: 0;
}
